html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  /* -webkit-app-region: drag; */
}

.title-bar{
  position: absolute;
  width: 100%;
  height: 45px;
  background-color: aliceblue;
  z-index: -2;
  -webkit-app-region: drag;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: seashell;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 7%;
}

.wrapper {
  position: relative;
}

 .background {
  position: absolute;
  left: 0;
  top: 0;
  background-image:
    url("../images/launcher.png");
  background-size: cover;
  background-position: center;
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: -1;
} 

.content {
  height: 70%;
  background: no;
}

.controls {
  position: absolute;
  right: 5px;
  top: 5px;
  align-items: center;
  -webkit-app-region: no-drag
}

.audio-btn {
  background: none;
  border: none;
  color: whitesmoke;
  width: 45%;
}

.audio-btn:hover {
  cursor: pointer;
}

.bar-controls{
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.window-control-btn {
  background: none;
  display: block;
  border: none;
  color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;

}

.minimize{
  background-image: url("../images/bar/Mini_UP.png");
}

.minimize:active:hover{
  background-image: url("../images/bar//Mini_HOVER_Down.png");
}

.minimize:hover{
  cursor: pointer;
}

.close{
  background-image: url("../images/bar/Cross_UP.png");
}

.close:active:hover{
  background-image: url("../images/bar/Cross_HOVER_Down.png");
}

.close:hover{
  cursor: pointer;
}


.dark-night-control {
  margin-top: 20px;
  color: whitesmoke;
}

.dark-night-control input {
  vertical-align: middle;
}

.dark-night-control input::before {
  background-color: #e94560;
}

.news {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.news-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  background: #16213e8c;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 350px;
  margin: 1%;
}

.patch-info {
  display: block;
  padding-bottom: 15px;
}

.patch-info-list {
  padding: 0;
  margin: 0;
}
.patch-info-list li {
  display: inline-block;
  padding: 0px 30px;
  color: aliceblue;
}

.patch-info-item{
  display: flex;
  align-items: center;
}

.checker{
  margin-left: 5px;
}

.patch-info-list li:nth-child(1) {
  padding: 0px 20px 0 0;
}

.fa-check {
  color: #6dff8d;
}
.fa-times {
  color: #e94560;
}

.loading-section {
  display: flex;
  flex-direction: column;
  height: 30%;
  margin: 0 30px;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 30%;
  margin: 0 30px; */
}

.first-row{
  justify-content: flex-start;
  margin-left: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 2 1;
  margin-right: 30px;
}

.download-section {
  text-align: center;
}

.loading-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 30px;
  width: 100%;
  border: 2px solid #1a1a2e;
  border-radius: 10px;
  background-color: #362648;
}

.progress-num {
  color: whitesmoke;
  position: absolute;
  font-size: 0.8rem;
  margin: auto;
  left: 29%;
}

.progress {
  background-color: #7857e5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.download-info {
  text-align: left;
  color: whitesmoke;
  font-size: 10px;
  padding: 0 0 5px 10px;
}

.play-btn {
  width: 330px;
  height: 80px;
  border: none;
  background-image: url("../images/btn/Button_UP.png");
  background-size: auto;
  background-position: center;
  background-color: transparent;
}

.play-btn:disabled {
  background-image: url("../images/btn/Button_Lock.png");
}

.play-btn:hover:enabled {
  background-image: url("../images/btn/Button_HOVER.png");
  cursor: pointer;
}

.play-btn:active:hover{
  background-image: url("../images/btn/Button_DOWN.png");
}
